@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

button:hover {
  background-color: #fff;
  color: #007bff;
}

.github {
  background-color: #333;
}

.linkedin {
  background-color: #0077b5;
}
